.list {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
  padding: 0;
}

.item {
  border: 2px solid black;
  padding: 20px;
  text-align: center;
}

.online {
  color: green;
}

.offline {
  color: red;
}
